@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}
@model Movies.ViewModels.LoginViewModel

<div class="row">
    <div class="col-md-12">
        <h1>Login</h1>
    </div>
    <div>
        @if(ViewData["Message"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["Message"]
            </div>
        }
        <form asp-action="Login" method="post">
            <div class="col-md-12">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="Password">Contraseña</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Ingresar</button>
                <a asp-controller="User" asp-action="Register">Registrarse</a>
            </div>
        </form>
    </div>
</div>
